<html>
  <body>
    <style>
      /* Navigation Menu - Background */
      .sidebar {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 0;
      }
      .site-wrap {
        min-height: 100%;
        min-width: 100%;
        background-color: white;
        position: relative;
        top: 0;
        bottom: 100%;
        left: 0;
        z-index: 1;
      }
      .nav-trigger {
        /* critical styles - hide the checkbox input */
        position: absolute;
        clip: rect(0, 0, 0, 0);
      }
      label[for="nav-trigger"] {
        /* critical positioning styles */
        position: fixed;
        left: 0; top: 50%;
        z-index: 2;
        height: 30px;
        width: 8px;
        cursor: pointer;
        background: #1e5799;
        background-size: contain;
      }
      .nav-trigger + label, .site-wrap {
        transition: left 0.2s;
      }
      .nav-trigger:checked + label {
        left: 200px;
      }
      .nav-trigger:checked ~ .site-wrap {
        left: 200px;
        box-shadow: 0 0 5px 5px rgba(0,0,0,0.5);
      }
      body {
        overflow-x: hidden;
      }
      h1, h3, p {
        max-width: 600px;
        margin: 0 auto 1em;
      }
      code {
          padding: 2px;
          background: #ddd;
      }
      *,*:before,*:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;margin:0;padding:0;}
      html, body { height: 100%; width: 100%; font-family: Helvetica, Arial, sans-serif; }
  </style>
    <!-- Guacamole -->
    <script type="text/javascript" src="/public/js/guac.min.js"></script>
    <!-- Vendor -->
    <script type="text/javascript" src="/public/vendor/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <!-- Client side -->
    <script type="text/javascript" src="/public/js/desktop.js"></script>
    
    <!-- SideBar -->
    <div class="sidebar" style="cursor:initial;" style="width:200px;">
      Taisun Desktop Admin<br>
      <!-- Clipboard -->
      Client:<br>
      <textarea id="clipboard" class="stopcapture" rows="10"></textarea><br>
      Host:<br>
      <textarea id="clipboardinput" class="stopcapture" rows="10"></textarea><br>
      <!-- Resolution Management -->
      Browser Window: <br><input id="currentsize" readonly="readonly" class="stopcapture"><br>
      Resize Desktop: <br>
      <input list="resolutions" name="resolutions" class="stopcapture" id="resform">
      <datalist id="resolutions">
      </datalist>
    </div>
    <input type="checkbox" id="nav-trigger" class="nav-trigger" />
    <label for="nav-trigger"></label>
    <!-- Display -->
    <div class="site-wrap" onmouseover="this.focus();" tabindex="0" style="outline:none;">
      <div id="display" style="width:100%;height:100vh;overflow:hidden;position:absolute;left:0;top:0;"></div>
    </div>
    <!-- Init -->
    <script type="text/javascript"> /* <![CDATA[ */
      // Hide Cursor
      document.body.style.cursor = 'none';
      // Get hostname and port
      var host = window.location.hostname;
      var port = window.location.port;
      // Get display div from document
      var display = document.getElementById("display");
      // Instantiate client, using an HTTP tunnel for communications.
      var guac = new Guacamole.Client(
        new Guacamole.WebSocketTunnel("ws://" + host + ":" + port + "/guaclite?token=<%- token -%>")
      );
      // Show current client clipboard
      guac.onclipboard = function clientClipboardReceived(stream, mimetype) {
        var reader;
        // If the received data is text, read it as a simple string (ignore blob data)
        if (/^text\//.exec(mimetype)) {
          reader = new Guacamole.StringReader(stream);
          // Assemble received data into a single string
          var data = '';
          reader.ontext = function textReceived(text) {
            $('#clipboard').val(text);
          };
        }
      };
      // Grab user input to set client clipboard
      $('#clipboardinput').on('input', function() { 
        guac.setClipboard($(this).val());
      });
      // Add client to display div
      display.appendChild(guac.getDisplay().getElement());
      // Error handler
      guac.onerror = function(error) {
        alert(error);
      };
      // Connect
      guac.connect();
      // Disconnect on close
      window.onunload = function() {
        guac.disconnect();
      }
      // Mouse
      var mouse = new Guacamole.Mouse(guac.getDisplay().getElement());
      mouse.onmousedown = 
      mouse.onmouseup   =
      mouse.onmousemove = function(mouseState) {
        guac.sendMouseState(mouseState);
      };
      // Keyboard
      var keyboard = new Guacamole.Keyboard(document);
      keyboard.onkeydown = function (keysym) {
        guac.sendKeyEvent(1, keysym);
      };
      keyboard.onkeyup = function (keysym) {
        guac.sendKeyEvent(0, keysym);
      };
      // Disable keyboard events if our sidebar inputs are used
      $(".stopcapture").click(function(e) {
        keyboard.onkeydown = null;
        keyboard.onkeyup = null;
      }).on("blur", function(e) {
        keyboard.onkeydown = function(keysym) {
          guac.sendKeyEvent(1, keysym);
        };
        keyboard.onkeyup = function(keysym) {
          guac.sendKeyEvent(0, keysym);
        };
      });
      // Desktop Resolution management
      window.onresize = displayWindowSize;
      window.onload = displayWindowSize;
      function displayWindowSize() {
        $('#currentsize').val($(window).width() + 'x' + $(window).height());
      };
    /* ]]> */ </script>
  </body>
</html>