<div class="container-fluid">
  <!-- Function Buttons -->
  <div class="row">
    <div class="col-xl-3 col-sm-6 mb-3">
      <a href="" data-toggle="modal" data-target="#create" class="text-white">
        <div class="card text-white bg-success o-hidden h-60">
          <div class="card-body">
            <div class="card-body-icon">
              <i class="fa fa-fw fa-plus-square-o"></i>
            </div>
            <div class="mr-5">
              Launch Desktop
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="col-xl-3 col-sm-6 mb-3">
      <a href="" data-toggle="modal" data-target="#destroy" class="text-white">
        <div class="card text-white bg-danger o-hidden h-60">
          <div class="card-body">
            <div class="card-body-icon">
              <i class="fa fa-fw fa-minus-circle"></i>
            </div>
            <div class="mr-5">
              Destroy Desktop
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="col-xl-3 col-sm-6 mb-3">
      <a href="#" class="text-white">
        <div class="card text-white bg-primary o-hidden h-60">
          <div class="card-body">
            <div class="card-body-icon">
              <i class="fa fa-fw fa-linux"></i>
            </div>
            <div class="mr-5">
              Desktop Builder
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="col-xl-3 col-sm-6 mb-3">
      <a href="#" class="text-white">
        <div class="card text-white bg-success o-hidden h-60">
          <div class="card-body">
            <div class="card-body-icon">
              <i class="fa fa-fw fa-thumbs-o-up"></i>
            </div>
            <div class="mr-5">
              GuacD
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
  <!-- Containers Table -->
  <div class="card mb-3">
    <div class="card-header">
      <i class="fa fa-desktop"></i>
      Deployed Desktops
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table id="desktops" class="table table-bordered" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>Name</th>
              <th>URL</th>
              <th>Image</th>
              <th>Status</th>
              <th>Created</th>
              <th>Command</th>
            </tr>
          </thead>
        </table>
      </div>
    </div>
  </div>
</div>